
// header font-size
$header-font-size: 36px;
$header-height: 88px;
$footer-height: $header-height * 0.9;
$font-size-26px: 26px;

$user-border-radius: 6px;
$user-width: 65%;
$user-statistics-right-margin: 0.15 * $user-width;
$img-percentage: 15%;
$user-height: 250px;
$full-height: 100%;

// full width
$full-width: 100%;
$small-border-width: 1px;

$margin-0: 0;
$user-margin: 14px; // margin between cards
$border-pattern-width: 2;

// set image dimensions
$img-dimensions: 150px;
