
$user-width: 65%;
$user-statistics-right-margin: 0.15 * $user-width; // 50px
$img-percentage: 15%;
$user-height: 250px;
$full-height: 100%;
$header-height: 88px;
// $footer-height: $header-height * 0.75;
$footer-height: $header-height * 0.9;

// full width
$full-width: 100%;
$small-border-width: 1px;

$margin-0: 0;
$user-margin: 14px; // margin between cards
$border-pattern-width: 2;

// set image dimensions
$img-dimensions: 150px;
