
// TODO: set max-width for the webpage and check whether you need adaptive design at all
// TODO: remove browser automatic margins
// TODO: bring all color variables here and define the project style palette using the color wheel
$header-color: #708F8E; // 1
$body-color: #8F7071; // 2
$user-color: #1cc1e3; // #2771D8 // 3
$button-color: #8F7071; // 4

$link-border: lightblue;
$link-color: #0060B6;
$link-active: #00A0C6;

$box-shadow: rgba(0, 0, 0, 0.25);
