@import "src/assets/styles/all";

.header {
  height: $header-height;
  background-color: $header-color;

  &__title {
    font-weight: 600;
    font-size: $header-font-size;
    outline: 0;
  }

  &__menu-items {
    display: flex;
    justify-content: space-around;
    height: $full-height;
    align-items: center;
    a {
      display: grid;
      place-items: center;
      width: $full-width;
      height: $full-height;
      border: $small-border-width solid $link-border;
    }
  }
}
