<div class="user">
  <div class="user__img-container">
    <img [src]="user.avatar || 'assets/images/user-2.svg'" alt="user avatar">
  </div>
  <div class="user__statistics">
    <div class="user__statistics-container">
      <div class="user__statistics-title">Statistics:</div>
      <div class="user__name">
        <div class="user__name-placeholder">Name:</div>
        <div class="user__name-text">{{user.name}}</div>
      </div>
      <div class="user__age">
        <div class="user__age-placeholder">Phone:</div>
        <div class="user__age-value">{{user.phone}}</div>
      </div>
      <div class="user__role">
        <div class="user__age-placeholder">Role:</div>
        <div class="user__age-value">{{user.role}}</div>
      </div>
      <div class="user__city">
        <div class="user__age-placeholder">City:</div>
        <div class="user__age-value">{{user.city}}</div>
      </div>
      <div class="user__created-at">
        <div class="user__age-placeholder">Created at:</div>
        <div class="user__age-value">{{user.createdAt}}</div>
      </div>

    </div>
  </div>
  <div class="user__close-post">
    <button *ngIf="hideButton" routerLink="/users">Go back</button>
  </div>
  <div class="user__more-info" (click)="displayPosts()">
    <button *ngIf="!hideButton" [routerLink]="['/users', user.id]">Posts</button>
  </div>
</div>
