@import "src/assets/styles/all";

.user {
  display: flex;
  justify-content: space-around;
  background-color: $user-color;
  width: $user-width;
  margin: 0 auto;
  height: $user-height;

  &__img-container {
    height: $full-height;
    width: $img-percentage;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
  }

  &__statistics-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__name {
    display: flex;
  }

  &__age {
    display: flex;
  }

  &__more-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
