<div class="user">
  <!--  TODO: add a routerLink here to route to user posts-->
    <div class="user__img-container">
      <img src="assets/images/user-2.svg" alt="user image">
    </div>
    <div class="user__statistics">
      <div class="user__statistics-container">
        <div class="user__statistics-title">Statistics</div>
        <div class="user__name">
          <div class="user__name-placeholder">Name:</div>
          <div class="user__name-text">{{user.name}}</div>
        </div>
        <div class="user__age">
          <div class="user__age-placeholder">Phone:</div>
          <div class="user__age-value">{{user.phone}}</div>
        </div>
        <div class="user__age">
          <div class="user__age-placeholder">Role:</div>
          <div class="user__age-value">{{user.role}}</div>
        </div>
        <div class="user__age">
          <div class="user__age-placeholder">City:</div>
          <div class="user__age-value">{{user.city}}</div>
        </div>
        <div class="user__age">
          <div class="user__age-placeholder">Created at:</div>
          <div class="user__age-value">{{user.createdAt}}</div>
        </div>

      </div>
    </div>
  <div class="user__more-info" (click)="displayPosts()">
    <button>Posts</button>
  </div>
</div>

<!--TODO: for now display the details here and later on you'll add a route (see Coursera)-->
<!--TODO: add translation to the project-->
<ng-container *ngIf="showPosts">
  <ng-container *ngFor="let post of posts">
    <app-post [title]="post.title" [description]="post.description"></app-post>
  </ng-container>
</ng-container>
