@import "src/assets/styles/all";

.user {
  display: flex;
  justify-content: space-around;
  background-color: $user-color;
  width: $user-width;
  margin: $user-margin auto;
  height: $user-height;

  &:nth-of-type(1) {
    margin-top: $user-margin / 2;
  }

  &__img-container {
    height: $full-height;
    width: $img-percentage;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: $img-dimensions;
      width: $img-dimensions;
      border: 16px solid;
      border-image: linear-gradient($linear-gradient-from, $linear-gradient-to) $border-pattern-width;
    }
  }

  &__statistics {
    position: relative;
    right: $user-statistics-right-margin;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__statistics-title {
    font-weight: 800;
  }

  &__statistics-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__name,
  &__age,
  &__role,
  &__city,
  &__created-at {
    display: flex;

    div:nth-of-type(1) {
      font-weight: 600;
      margin-right: 4px;
    }
  }

  &__more-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      width: 130px;
      font-size: 16px;
    }
  }
}
