
.user {
  display: flex;
  width: 75%;
  margin: 0 auto;
  height: 250px;

  &__statistics {
    display: flex;
    flex-direction: column;
  }

  &__name {
    display: flex;
  }

  &__age {
    display: flex;
  }
}
