@import "src/assets/styles/all";

.post {
  width: $user-width;
  margin: $user-margin auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $user-color;

  img {
    margin: 40px;
    border: 16px solid;
    border-image: linear-gradient($linear-gradient-from, $linear-gradient-to) $border-pattern-width;
  }

  &__content {
    padding-bottom: $user-margin;
  }

  &__go-back {
    margin: 40px;
  }

  &__btn-container {
    margin-left: auto;
  }
}

.api-error {
  display: flex;
  justify-content: center;
  margin: $margin-0 auto;
  background-color: $user-color;
  width: $user-width;
  height: $user-width / 2;
  padding: 20px 0;
  font-size: $font-size-26px;
  margin-bottom: 20px;
}
