@import "src/assets/styles/for-import/_palette.scss"; // all colors
@import "src/assets/styles/for-import/_general.scss";

//reset the browser margins and set the min-width
html,
body {
  height: 100%;
  min-width: $min-width;
  margin: $margin-0;
}

body {
  background-image: url("assets/images/lego-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// style buttons throughout the project
button {
  color: black;
  width: 247px;
  height: 51px;
  background: $button-color;
  box-shadow: 0 $box-shadow-width $box-shadow-width $box-shadow;
  outline: 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

//remove default links styling and add your own
a {
  color: $link-color;
  text-decoration: none;
}

a:hover
{
  color: $link-active;
  text-decoration:none;
  cursor:pointer;
}

// add default body color:
body {
  background-color: $body-color;
}
