@import "src/assets/styles/for-import/_palette.scss"; // all colors

//reset the browser margins and set the min-width
html,
body {
  min-width: 1500px;
  margin: 0;
}

// style buttons throughout the project
button {
  color: black;
  width: 247px;
  height: 51px;
  background: $button-color;
  box-shadow: 0 4px 4px $box-shadow;
  outline: 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

//remove default links styling and add your own
a {
  color: $link-color;
  text-decoration: none;
}

a:hover
{
  color: $link-active;
  text-decoration:none;
  cursor:pointer;
}

// add default body color:
body {
  background-color: $body-color;
}
